name: Build and Push Wrk Image

on:
  workflow_dispatch:
  # push:
  #   branches: [ main ]
  # schedule:
  #   - cron: '0 3 * * *' # 每天构建一次（可选）

env:
  DOCKER_REPO: stu2116edwardhu/wrk2

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          # platforms: linux/amd64
          push: true
          tags: |
            ${{ env.DOCKER_REPO }}:latest
            ${{ env.DOCKER_REPO }}:alpine
